<html>
<body>

    <h2>Final Results</h2>

    <form action="/submit" method="post">
        <label for="science">Science Score:</label><br>
        <input type="text" id="science" name="science" value="0"><br>

        <label for="maths">Math Score:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br>

        <label for="computer">Computer Score:</label><br>
        <input type="text" id="computer" name="computer" value="0"><br>

        <label for="ds">DS Score:</label><br>
        <input type="text" id="ds" name="ds" value="0"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
